<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kantu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/theme.css" rel="stylesheet" />
    <link href="../static/assets/css/personal.css" rel="stylesheet" />
    <!--    Favicons-->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/favicons/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicons/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicons/favicon-16x16.png"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/logoHDKantu.png">
    <meta name="msapplication-TileImage" content="../static/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-lucid" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand" href="{{url_for('index')}}"><img src="../static/assets/img/logoHDKantu.png" height="80" alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
      <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
          <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="{{url_for('arealogada')}}">Entrar secreto</a></li>
          <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" data-bs-toggle="modal" data-bs-target="#loginModal" aria-current="page">Entrar</a></li>
          <li class="nav-item px-3 px-xl-4"><a class="btn btn-outline-dark order-1 order-lg-0 fw-medium" data-bs-toggle="modal" data-bs-target="#cadastroModal">Cadastre-se</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Modal login -->
  <div class="modal fade" id="loginModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title"><i class="bi bi-person-circle"></i> Kantu Login</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label class="form-label"><i class="bi bi-envelope"></i> E-mail</label>
              <input type="email" class="form-control rounded-3" >
            </div>
            <div class="mb-3">
              <label class="form-label"><i class="bi bi-lock"></i> Senha</label>
              <input type="password" class="form-control rounded-3" >
            </div>
            <button type="submit" class="btn btn-primary w-100 rounded-3">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal cadastro -->
  <div class="modal fade" id="cadastroModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title"><i class="bi bi-person-plus"></i> Kantu Cadastro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- Abas para escolher o tipo de cadastro -->
          <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#agencia" type="button">
                <i class="bi bi-map active"></i> Agencia
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#guia" type="button">
                <i class="bi bi-map"></i> Guia Turístico
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#empresa" type="button">
                <i class="bi bi-map"></i> Empresa de Transporte
              </button>
            </li>
          </ul>
  
          <div class="tab-content mt-3">
            <!-- Cadastro Guia Turístico -->
            <div class="tab-pane fade show " id="guia">
              <form>
                <div class="row">
                    <!-- Nome -->
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Nome completo</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>
                </div>

                <div class="row">
                    <!-- Cadastur -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Número CADASTUR</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>

                    <!-- CNPJ -->
                    <div class="col-md-6 mb-3">
                      <label class="form-label">CPF</label>
                      <input type="text" class="form-control rounded-3" pattern="\d{14}" placeholder="Apenas números" required>
                    </div>
                </div>
                <div class="row">
                    <!-- CEP -->
                    <div class="col-md-6 mb-3">
                      <label class="form-label">CEP</label>
                      <input type="text" class="form-control rounded-3" pattern="\d{8}" placeholder="Apenas números" required>
                    </div>
                </div>

                <div class="row">
                    <!-- Rua -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Rua</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>

                    <!-- Número -->
                    <div class="col-md-2 mb-3">
                        <label class="form-label">Número</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>

                    <!-- Bairro -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Bairro</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>
                </div>

                <div class="row">
                    <!-- Cidade -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Cidade</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>

                    <!-- Estado -->
                    <div class="col-md-2 mb-3">
                        <label class="form-label">UF</label>
                        <select class="form-select rounded-3" required>
                            <option value="" selected disabled>Selecione</option>
                            <option>AC</option><option>AL</option><option>AP</option><option>AM</option>
                            <option>BA</option><option>CE</option><option>DF</option><option>ES</option>
                            <option>GO</option><option>MA</option><option>MT</option><option>MS</option>
                            <option>MG</option><option>PA</option><option>PB</option><option>PR</option>
                            <option>PE</option><option>PI</option><option>RJ</option><option>RN</option>
                            <option>RS</option><option>RO</option><option>RR</option><option>SC</option>
                            <option>SP</option><option>SE</option><option>TO</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <!-- Telefone -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Telefone</label>
                        <input type="tel" class="form-control rounded-3" pattern="\d{10,11}" placeholder="Apenas números" required>
                    </div>
                </div>

                <div class="row">
                    <!-- E-mail -->
                    <div class="col-md-12 mb-3">
                      <label class="form-label">E-mail</label>
                      <input type="email" class="form-control rounded-3" required>
                  </div>
                </div>

                <div class="row">
                    <!-- Senha -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Senha</label>
                        <div class="input-group">
                            <input type="password" id="senha" class="form-control rounded-start-3" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Confirme a Senha</label>
                      <div class="input-group">
                          <input type="password" id="ConfirmaSenha" class="form-control rounded-start-3" required>
                      </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success w-100 rounded-3">Cadastrar</button>
            </form>
            </div>

            <!-- cadastro agencia  -->
             <div class ="tab-pane fade" id="agencia">
              <form>
                <div class="row">
                    <!-- Nome -->
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Nome da Empresa</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>
                </div>

                <div class="row">
                    <!-- Cadastur -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Número CADASTUR</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>

                    <!-- CNPJ -->
                    <div class="col-md-6 mb-3">
                      <label class="form-label">CNPJ</label>
                      <input type="text" class="form-control rounded-3" pattern="\d{14}" placeholder="Apenas números" required>
                    </div>
                </div>
                <div class="row">
                    <!-- CEP -->
                    <div class="col-md-6 mb-3">
                      <label class="form-label">CEP</label>
                      <input type="text" class="form-control rounded-3" pattern="\d{8}" placeholder="Apenas números" required>
                    </div>
                </div>

                <div class="row">
                    <!-- Rua -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Rua</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>

                    <!-- Número -->
                    <div class="col-md-2 mb-3">
                        <label class="form-label">Número</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>

                    <!-- Bairro -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Bairro</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>
                </div>

                <div class="row">
                    <!-- Cidade -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Cidade</label>
                        <input type="text" class="form-control rounded-3" required>
                    </div>

                    <!-- Estado -->
                    <div class="col-md-2 mb-3">
                        <label class="form-label">UF</label>
                        <select class="form-select rounded-3" required>
                            <option value="" selected disabled>Selecione</option>
                            <option>AC</option><option>AL</option><option>AP</option><option>AM</option>
                            <option>BA</option><option>CE</option><option>DF</option><option>ES</option>
                            <option>GO</option><option>MA</option><option>MT</option><option>MS</option>
                            <option>MG</option><option>PA</option><option>PB</option><option>PR</option>
                            <option>PE</option><option>PI</option><option>RJ</option><option>RN</option>
                            <option>RS</option><option>RO</option><option>RR</option><option>SC</option>
                            <option>SP</option><option>SE</option><option>TO</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <!-- Telefone -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Telefone</label>
                        <input type="tel" class="form-control rounded-3" pattern="\d{10,11}" placeholder="Apenas números" required>
                    </div>
                </div>

                <div class="row">
                    <!-- E-mail -->
                    <div class="col-md-12 mb-3">
                      <label class="form-label">E-mail</label>
                      <input type="email" class="form-control rounded-3" required>
                  </div>
                </div>

                <div class="row">
                    <!-- Senha -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Senha</label>
                        <div class="input-group">
                            <input type="password" id="senha" class="form-control rounded-start-3" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Confirme a Senha</label>
                      <div class="input-group">
                          <input type="password" id="ConfirmaSenha" class="form-control rounded-start-3" required>
                      </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success w-100 rounded-3">Cadastrar</button>
            </form>
            </div>
  
            <!-- Cadastro Empresa de Transporte -->
            <div class="tab-pane fade" id="empresa">
              <form>
                <div class="row">
                  <!-- Nome -->
                  <div class="col-md-12 mb-3">
                      <label class="form-label">Nome da Empresa</label>
                      <input type="text" class="form-control rounded-3" required>
                  </div>
              </div>

              <div class="row">
                  <!-- Cadastur -->
                  <div class="col-md-6 mb-3">
                      <label class="form-label">Número CADASTUR</label>
                      <input type="text" class="form-control rounded-3" required>
                  </div>

                  <!-- CNPJ -->
                  <div class="col-md-6 mb-3">
                    <label class="form-label">CNPJ</label>
                    <input type="text" class="form-control rounded-3" pattern="\d{14}" placeholder="Apenas números" required>
                  </div>
              </div>
              <div class="row">
                  <!-- CEP -->
                  <div class="col-md-6 mb-3">
                    <label class="form-label">CEP</label>
                    <input type="text" class="form-control rounded-3" pattern="\d{8}" placeholder="Apenas números" required>
                  </div>
              </div>

              <div class="row">
                  <!-- Rua -->
                  <div class="col-md-6 mb-3">
                      <label class="form-label">Rua</label>
                      <input type="text" class="form-control rounded-3" required>
                  </div>

                  <!-- Número -->
                  <div class="col-md-2 mb-3">
                      <label class="form-label">Número</label>
                      <input type="text" class="form-control rounded-3" required>
                  </div>

                  <!-- Bairro -->
                  <div class="col-md-4 mb-3">
                      <label class="form-label">Bairro</label>
                      <input type="text" class="form-control rounded-3" required>
                  </div>
              </div>

              <div class="row">
                  <!-- Cidade -->
                  <div class="col-md-6 mb-3">
                      <label class="form-label">Cidade</label>
                      <input type="text" class="form-control rounded-3" required>
                  </div>

                  <!-- Estado -->
                  <div class="col-md-2 mb-3">
                      <label class="form-label">UF</label>
                      <select class="form-select rounded-3" required>
                          <option value="" selected disabled>Selecione</option>
                          <option>AC</option><option>AL</option><option>AP</option><option>AM</option>
                          <option>BA</option><option>CE</option><option>DF</option><option>ES</option>
                          <option>GO</option><option>MA</option><option>MT</option><option>MS</option>
                          <option>MG</option><option>PA</option><option>PB</option><option>PR</option>
                          <option>PE</option><option>PI</option><option>RJ</option><option>RN</option>
                          <option>RS</option><option>RO</option><option>RR</option><option>SC</option>
                          <option>SP</option><option>SE</option><option>TO</option>
                      </select>
                  </div>
              </div>

              <div class="row">
                  <!-- Telefone -->
                  <div class="col-md-6 mb-3">
                      <label class="form-label">Telefone</label>
                      <input type="tel" class="form-control rounded-3" pattern="\d{10,11}" placeholder="Apenas números" required>
                  </div>
              </div>
              <div class="mb-3">
                <label for="tipoVeiculo" class="form-label">Tipo de Veículo oferecido </label>
                <select class="form-select" name="tipoVeiculo" id="tipoVeiculo">
                    <option value="Ônibus">Ônibus</option>
                    <option value="Van">Van</option>
                    <option value="Micro-ônibus">Micro-ônibus</option>
                </select>
              </div>
              <div class="row">
                  <!-- E-mail -->
                  <div class="col-md-12 mb-3">
                    <label class="form-label">E-mail</label>
                    <input type="email" class="form-control rounded-3" required>
                </div>
              </div>

              <div class="row">
                  <!-- Senha -->
                  <div class="col-md-6 mb-3">
                      <label class="form-label">Senha</label>
                      <div class="input-group">
                          <input type="password" id="senha" class="form-control rounded-start-3" required>
                      </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="form-label">Confirme a Senha</label>
                    <div class="input-group">
                        <input type="password" id="ConfirmaSenha" class="form-control rounded-start-3" required>
                    </div>
                </div>
              </div>
                <button type="submit" class="btn btn-success w-100 rounded-3">Cadastrar</button>
              </form>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  {%block conteudo%}

  {%endblock%}
        <section class="pb-0 pb-lg-4">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0"> <img class="mb-0" src="../static/assets/img/logoHDKantu.png" width="150" alt="jadoo" />
                <p class="fs--1 text-secondary mb-0 fw-medium">Solicite orçamentos e encontre oque precise em minutos.</p>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Kantu</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Sobre nós</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Vagas</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-2 order-md-3">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Contato</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Help/FAQ</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">API</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-3 order-md-4">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Mais</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Parceiros</a></li>
                </ul>
              </div>
            </div>
          </div>
  
        </section>
        <div class="py-5 text-center">
            <p class="mb-0 text-secondary fs--1 fw-medium"> לכבוד אלוהים</p>
          </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {%block scripts%}
    {%endblock%}
</body>
</html>