
    {% extends "index.html" %}

    {% block conteudo %}
    <section style="padding-top: 7rem;">
        <div class="bg-holder" style="background-image:url(../static/assets/img/hero/hero-bg.svg);">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 hero-img" src="../static/assets/img/hero/hero-img.png" alt="hero-header" /></div>
            <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
              <h4 class="fw-bold text-danger mb-3">Os melhores provedores estão aqui</h4>
              <h1 class="hero-title">Kantu, Encontre tudo oque precisa para tornar suas viagens completas.</h1>
              <div class="text-center text-md-start"> <a class="btn btn-primary btn-lg me-md-4 mb-3 mt-3 border-0 primary-btn-shadow" href="#booking" role="button">Comece já</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="HowTo">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="mb-4 text-start">
                <h5 class="text-secondary">Facíl e Rápido </h5>
                <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Encontre provedores em 3 passos</h3>
              </div>
              <div class="d-flex align-items-start mb-5">
                <div class="bg-primary me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="../static/assets/img/steps/selection.svg" width="22" alt="steps" /></div>
                <div class="flex-1">
                  <h5 class="text-secondary fw-bold fs-0">Preencha o formulário</h5>
                  <p>Precisamos entender qual serviço deseja <br class="d-none d-sm-block"> Assim enviaremos para os melhores provedores.</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-5">
                <div class="bg-danger me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="../static/assets/img/steps/water-sport.svg" width="22" alt="steps" /></div>
                <div class="flex-1">
                  <h5 class="text-secondary fw-bold fs-0">Receba orçamentos</h5>
                  <p>Após o preenchimento, enviaremos seu pedido aos provedores <br class="d-none d-sm-block"> Eles enviarão os orçamentos para sua escolha.</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-5">
                <div class="bg-info me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="../static/assets/img/steps/taxi.svg" width="22" alt="steps" /></div>
                <div class="flex-1">
                  <h5 class="text-secondary fw-bold fs-0">Encontre com o provedor na data marcada</h5>
                  <p>Por ultimo, com o orçamento escolhido fechado <br class="d-none d-sm-block"> Só aguardar na data escolhida.</p>
                </div>
              </div>
            </div>
            <!-- Form  transporte-->
            <div class="col-lg-6 d-flex justify-content-center align-items-start custom-card">
                <form class="mt-5" method="POST" action="{{url_for('cadastroPedido')}}">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ida" id="ida" checked>
                        <label class="form-check-label" for="somenteIda">Somente ida</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="volta" id="volta">
                        <label class="form-check-label" for="idaVolta">Ida e volta</label>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            <label for="origem" class="form-label">Origem</label>
                            <input type="text" class="form-control" id="origem" name="origem" placeholder="Digite a origem" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="destino" class="form-label">Destino</label>
                            <input type="text" class="form-control" id="destino" name="destino" placeholder="Digite o destino" required>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="dataIda" class="form-label">Data da Ida</label>
                            <input type="date" class="form-control" name ="dataIda" id="dataIda" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="horarioIda" class="form-label">Hora da Ida</label>
                            <input type="time" class="form-control" name="horarioIda" id="horarioIda" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="dataRetorno" class="form-label">Data de Retorno</label>
                            <input type="date" class="form-control" name="dataRetorno" id="dataRetorno">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="horarioRetorno" class="form-label">Hora do Retorno</label>
                            <input type="time" class="form-control" name="horarioRetorno" id="horarioRetorno">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="tipoVeiculo" class="form-label">Tipo de Veículo</label>
                        <select class="form-select" name="tipoVeiculo" id="tipoVeiculo">
                            <option value="Ônibus">Ônibus</option>
                            <option value="Van">Van</option>
                            <option value="Micro-ônibus">Micro-ônibus</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Necessita Guia</label>
                        <div class="row">
                            <div class="form-check ml-3 col-md-3 mb-3">
                                <input class="form-check-input" type="radio" name="guiaSim" id="guiaSim" value="sim">
                                <label class="form-check-label" for="guiaSim">Sim</label>
                            </div>
                            <div class="form-check col-md-3 mb-3">
                                <input class="form-check-input" type="radio" name="guiaNao" id="guiaNao" value="nao" checked>
                                <label class="form-check-label" for="guiaNao">Não</label>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Enviar cotação</button>
                </form>
            </div>
          </div>
        </div>
      </section>

      <section class="pt-5 pt-md-9" id="service">
          
        <div class="container">
            <div class="position-absolute z-index--1 end-0 d-none d-lg-block"><img src="../static/assets/img/category/shape.svg" style="max-width: 200px" alt="service" /></div>
            <div class="mb-7 text-center">
                <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Oferecemos os melhores serviços</h3>
              </div>
              <div class="row">

                  <div class="col-lg-4 col-sm-6 mb-6">
                      <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                          <div class="card-body p-xxl-5 p-4"> <img src="../static/assets/img/category/icon2.png" width="75" alt="Service" />
                              <h4 class="mb-3"> Transporte</h4>
                              <p class="mb-0 fw-medium">Não gaste horas solicitando cotações, aqui fazemos isso para você.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 mb-6">
                      <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                          <div class="card-body p-xxl-5 p-4"> <img src="../static/assets/img/category/icon3.png" width="75" alt="Service" />
                              <h4 class="mb-3">Guia</h4>
                              <p class="mb-0 fw-medium">Te conectamos com os melhor guias para uma experiencia completa.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 mb-6">
                      <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                          <div class="card-body p-xxl-5 p-4"> <img src="../static/assets/img/category/icon4.png" width="75" alt="Service" />
                              <h4 class="mb-3">Gerencimento</h4>
                              <p class="mb-0 fw-medium">Te ajudamos com o gerenciamento das solicitações abertas</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- end of .container-->
          
    </section>
      {% endblock %}

      {% block scripts %}
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_HFOq30j9Jw6Ga9XPxlk7XL-gZXTWOwI&libraries=places"></script>
      <script>
        function initAutocomplete() {
            var inputOrigem = document.getElementById("origem");
            var inputDestino = document.getElementById("destino");
            
            var autocompleteOrigem = new google.maps.places.Autocomplete(inputOrigem);
            var autocompleteDestino = new google.maps.places.Autocomplete(inputDestino);
        }
        document.addEventListener("DOMContentLoaded", initAutocomplete);
      </script>
      {% endblock %}
